:root {
  --clr-white: #FFFFFF;
  --clr-black: #000000;
  --clr-gray: #E9ECEF;
  --clr-gray-text: #6C757D;
  --crl-red: #E03131;
  --clr-red-bg: #FFC9C9;
  --clr-yellow: #F1E15A;
}

body {
  font-family: "Geist", sans-serif;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo i {
  font-size: 2.5rem;
}

#toggleDarkModeBtn {
  font-size: 2rem;
  cursor: pointer;
}

.main-content {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repository-finder {
  width: 100%;
  max-width: 400px;
}

#languageSelect {
  padding: 8px 120px;
  cursor: pointer;
  font-family: "Geist", sans-serif;
  font-size: 1rem;
  border-radius: 10px;
  border: 2px solid var(--clr-black);
  background-color: transparent;
}

.content-display {
  background-color: var(--clr-gray);
  padding: 30px 40px;
  margin-top: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.content-error {
  background-color: var(--clr-red-bg);
}

.content-display h2 {
  font-size: 1.3rem;
  font-weight: 500;
}

.repo-title {
  color: var(--clr-black);
  font-size: 1.2rem;
  text-decoration: none;
  margin-bottom: 20px;
}

.repo-title:hover {
  text-decoration: underline;
}

.repo-description {
  color: var(--clr-gray-text);
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.repo-info {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.repo-info p i {
  padding-right: 5px;
}

.repo-info-data {
  color: var(--clr-gray-text);
}

.buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#refreshBtn {
  font-family: "Geist", sans-serif;
  font-size: 1rem;
  padding: 15px 170px;
  cursor: pointer;
  color: var(--clr-white);
  background-color: var(--clr-black);
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

#retryBtn {
  font-family: "Geist", sans-serif;
  font-size: 1rem;
  padding: 15px 177px;
  cursor: pointer;
  color: var(--clr-white);
  background-color: var(--crl-red);
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

@media (max-width: 480px) {

  .logo h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .logo i {
    display: none;
  }
}